.git
.agents
.codex

data
work
*.png
*.log
*.sql

frontend/.idea
frontend/.npm-cache
frontend/node_modules
frontend/dist
frontend/*.log

backend/.idea
backend/data
backend/storage
backend/target
backend/work
backend/*.log

**/.DS_Store
**/Thumbs.db
