-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: drop_ai
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `drop_ai`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `drop_ai` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `drop_ai`;

--
-- Table structure for table `computer_generated_files`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `computer_generated_files` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '文件ID',
  `job_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '任务ID',
  `file_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '文件类型',
  `file_name` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '展示文件名',
  `file_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '服务器存储路径',
  `file_size` bigint DEFAULT '0' COMMENT '文件大小',
  `created_at` datetime NOT NULL COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_computer_file_job` (`job_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `computer_generation_jobs`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `computer_generation_jobs` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '生成任务ID',
  `user_id` bigint NOT NULL COMMENT '所属用户',
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '项目题目',
  `project_type` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '项目类型',
  `tech_stack` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '技术栈',
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '任务状态',
  `progress` int DEFAULT '0' COMMENT '进度百分比',
  `current_stage` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '当前阶段',
  `input_text` longtext COLLATE utf8mb4_unicode_ci COMMENT '输入需求和解析文本',
  `uploaded_files` longtext COLLATE utf8mb4_unicode_ci COMMENT '上传文件名',
  `output_zip_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ZIP路径',
  `frontend_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '前端路径',
  `backend_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '后端路径',
  `sql_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'SQL路径',
  `paper_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '论文路径',
  `preview_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '预览URL',
  `error_message` text COLLATE utf8mb4_unicode_ci COMMENT '错误信息',
  `points_cost` int DEFAULT '0' COMMENT '预计积分',
  `points_charged` tinyint(1) NOT NULL DEFAULT '0' COMMENT '是否已扣积分',
  `created_at` datetime NOT NULL COMMENT '创建时间',
  `updated_at` datetime NOT NULL COMMENT '更新时间',
  `current_file` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '当前生成文件',
  PRIMARY KEY (`id`),
  KEY `idx_computer_job_user_created` (`user_id`,`created_at`),
  KEY `idx_computer_job_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `computer_preview_instances`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `computer_preview_instances` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '预览实例ID',
  `job_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '任务ID',
  `preview_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '随机预览ID',
  `preview_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '预览地址',
  `preview_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '预览目录',
  `status` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '状态',
  `created_at` datetime NOT NULL COMMENT '创建时间',
  `expired_at` datetime DEFAULT NULL COMMENT '过期时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_computer_preview_id` (`preview_id`),
  KEY `idx_computer_preview_job` (`job_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `document_job`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `document_job` (
  `job_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_feature` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'REWRITE',
  `mode` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mode_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `platform` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `platform_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_paragraphs` int DEFAULT '0',
  `processed_paragraphs` int DEFAULT '0',
  `rewritten_paragraphs` int DEFAULT '0',
  `char_count` int DEFAULT '0',
  `cost_points` int DEFAULT '0',
  `points_charged` tinyint(1) NOT NULL DEFAULT '0',
  `message` text COLLATE utf8mb4_unicode_ci,
  `paragraphs_json` longtext COLLATE utf8mb4_unicode_ci,
  `output_file` longblob,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`job_id`),
  KEY `idx_document_user_created` (`user_id`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `feature_pricing`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `feature_pricing` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `feature_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `feature_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cost_points` int NOT NULL,
  `enabled` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `feature_code` (`feature_code`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `point_transactions`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `point_transactions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `job_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '关联任务ID',
  `feature_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `feature_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `points_change` int NOT NULL,
  `balance_after` int NOT NULL,
  `remark` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_point_tx_user_created` (`user_id`,`created_at`),
  KEY `idx_point_tx_feature` (`feature_code`),
  KEY `idx_point_tx_job` (`job_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recharge_order`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `recharge_order` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `order_no` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `points` int NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `pay_method` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT 'alipay_mock',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `paid_at` datetime DEFAULT NULL,
  `pay_amount` decimal(10,2) DEFAULT NULL,
  `pay_account_last4` varchar(8) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `proof_image` text COLLATE utf8mb4_unicode_ci,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `audited_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_no` (`order_no`),
  KEY `idx_recharge_user_created` (`user_id`,`created_at`),
  KEY `idx_recharge_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `rewrite_record`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `rewrite_record` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '璁板綍ID',
  `original_text` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '鍘熸枃鍐呭?',
  `rewritten_text` text COLLATE utf8mb4_unicode_ci COMMENT '鏀瑰啓鍚庡唴瀹',
  `rewrite_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '鏀瑰啓绫诲瀷',
  `ai_score` int DEFAULT '0' COMMENT 'AI鐥曡抗椋庨櫓鍒嗘暟',
  `ai_level` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'AI鐥曡抗绛夌骇',
  `suggestions` text COLLATE utf8mb4_unicode_ci COMMENT '浼樺寲寤鸿?JSON',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '鏇存柊鏃堕棿',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `system_notice`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `system_notice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `is_popup` tinyint(1) NOT NULL DEFAULT '1',
  `created_by` bigint DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_system_notice_status_popup` (`status`,`is_popup`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_account`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `user_account` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'USER',
  `points` int NOT NULL DEFAULT '0',
  `total_points` int NOT NULL DEFAULT '0',
  `used_points` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `last_notice_time` datetime DEFAULT NULL COMMENT '最后公告阅读时间',
  `notice_read_id` bigint DEFAULT NULL COMMENT '已读公告ID',
  PRIMARY KEY (`id`),
  UNIQUE KEY `phone` (`phone`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_points_log`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `user_points_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `change_amount` int NOT NULL,
  `before_points` int NOT NULL,
  `after_points` int NOT NULL,
  `reason` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user_points_log_user_created` (`user_id`,`created_at`),
  KEY `idx_user_points_log_reason` (`reason`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_session`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `user_session` (
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint NOT NULL,
  `expires_at` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`token`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `workflow_node`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `workflow_node` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '鑺傜偣ID',
  `node_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '鑺傜偣鍚嶇О',
  `node_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '鑺傜偣绫诲瀷',
  `prompt_template` text COLLATE utf8mb4_unicode_ci COMMENT '鎻愮ず璇嶆ā鏉',
  `input_key` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '杈撳叆閿',
  `output_key` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '杈撳嚭閿',
  `sort_order` int NOT NULL DEFAULT '0' COMMENT '鎵ц?椤哄簭',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `writing_chapter`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `writing_chapter` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chapter_no` int NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_word_count` int NOT NULL DEFAULT '1200',
  `section_count` int NOT NULL DEFAULT '3',
  `image_count` int NOT NULL DEFAULT '1',
  `table_count` int NOT NULL DEFAULT '1',
  `use_references` tinyint(1) NOT NULL DEFAULT '1',
  `default_chart_type` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT 'COMBO',
  `content` longtext COLLATE utf8mb4_unicode_ci,
  `chapter_summary` text COLLATE utf8mb4_unicode_ci,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_writing_chapter_no` (`project_id`,`chapter_no`),
  KEY `idx_writing_chapter_project_sort` (`project_id`,`sort_order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `writing_chart`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `writing_chart` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chapter_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chart_no` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chart_type` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_type` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'SIMULATED',
  `source_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_date` datetime DEFAULT NULL,
  `is_simulated` tinyint(1) NOT NULL DEFAULT '1',
  `x_axis_name` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `y_axis_name` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `secondary_y_axis_name` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `show_legend` tinyint(1) NOT NULL DEFAULT '1',
  `show_data_label` tinyint(1) NOT NULL DEFAULT '0',
  `show_axis_title` tinyint(1) NOT NULL DEFAULT '1',
  `use_secondary_axis` tinyint(1) NOT NULL DEFAULT '0',
  `stacked` tinyint(1) NOT NULL DEFAULT '0',
  `show_trendline` tinyint(1) NOT NULL DEFAULT '0',
  `chart_config_json` text COLLATE utf8mb4_unicode_ci,
  `data_json` longtext COLLATE utf8mb4_unicode_ci,
  `image_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `insert_after_section` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_writing_chart_no` (`project_id`,`chart_no`),
  KEY `idx_writing_chart_chapter_sort` (`chapter_id`,`sort_order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `writing_chart_series`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `writing_chart_series` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chart_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `series_name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chart_type` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL,
  `use_secondary_axis` tinyint(1) NOT NULL DEFAULT '0',
  `unit` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_type` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT 'SIMULATED',
  `data_json` longtext COLLATE utf8mb4_unicode_ci,
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_writing_chart_series_chart_sort` (`chart_id`,`sort_order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `writing_citation`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `writing_citation` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chapter_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reference_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `temporary_marker` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `final_number` int DEFAULT NULL,
  `first_occurrence_order` int DEFAULT NULL,
  `context_text` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_writing_citation_project_order` (`project_id`,`first_occurrence_order`),
  KEY `idx_writing_citation_reference` (`reference_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `writing_export_file`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `writing_export_file` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `task_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `document_job_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_size` bigint NOT NULL DEFAULT '0',
  `download_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_writing_export_project` (`project_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `writing_generation_task`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `writing_generation_task` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint NOT NULL,
  `task_type` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `stage` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `progress` int NOT NULL DEFAULT '0',
  `error_message` text COLLATE utf8mb4_unicode_ci,
  `retryable` tinyint(1) NOT NULL DEFAULT '1',
  `completed_chapters` text COLLATE utf8mb4_unicode_ci,
  `generated_files` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_writing_task_project` (`project_id`),
  KEY `idx_writing_task_user_created` (`user_id`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `writing_project`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `writing_project` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `major` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `document_type` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `target_word_count` int NOT NULL DEFAULT '8000',
  `abstract_word_count` int NOT NULL DEFAULT '300',
  `keyword_count` int NOT NULL DEFAULT '4',
  `chapter_count` int NOT NULL DEFAULT '0',
  `reference_count` int NOT NULL DEFAULT '20',
  `chinese_reference_count` int NOT NULL DEFAULT '8',
  `english_reference_count` int NOT NULL DEFAULT '12',
  `year_start` int DEFAULT NULL,
  `year_end` int DEFAULT NULL,
  `citation_style` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'GB/T 7714',
  `writing_tone` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `generate_english_abstract` tinyint(1) NOT NULL DEFAULT '1',
  `generate_toc` tinyint(1) NOT NULL DEFAULT '1',
  `generate_figure_list` tinyint(1) NOT NULL DEFAULT '1',
  `generate_table_list` tinyint(1) NOT NULL DEFAULT '1',
  `skip_references` tinyint(1) NOT NULL DEFAULT '0',
  `requirements` text COLLATE utf8mb4_unicode_ci,
  `abstract_text` longtext COLLATE utf8mb4_unicode_ci,
  `english_abstract` longtext COLLATE utf8mb4_unicode_ci,
  `keywords_json` text COLLATE utf8mb4_unicode_ci,
  `english_keywords_json` text COLLATE utf8mb4_unicode_ci,
  `preview_text` longtext COLLATE utf8mb4_unicode_ci,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `current_stage` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `progress` int NOT NULL DEFAULT '0',
  `error_message` text COLLATE utf8mb4_unicode_ci,
  `search_provider` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `search_status` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `search_message` text COLLATE utf8mb4_unicode_ci,
  `quality_report_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_writing_project_user_created` (`user_id`,`created_at`),
  KEY `idx_writing_project_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `writing_reference`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `writing_reference` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `reference_key` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `authors` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `publication_year` int NOT NULL,
  `journal_or_publisher` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `volume` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `issue` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pages` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `url` varchar(700) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_platform` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abstract_text` longtext COLLATE utf8mb4_unicode_ci,
  `search_keywords` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `searched_at` datetime NOT NULL,
  `applicable_chapters` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `verification_status` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `relevance_score` decimal(8,4) NOT NULL DEFAULT '0.0000',
  `formatted_text` text COLLATE utf8mb4_unicode_ci,
  `final_number` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_writing_reference_key` (`project_id`,`reference_key`),
  KEY `idx_writing_reference_project_score` (`project_id`,`relevance_score`),
  KEY `idx_writing_reference_doi` (`doi`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `writing_section`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `writing_section` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chapter_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `section_no` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_word_count` int NOT NULL DEFAULT '400',
  `content` longtext COLLATE utf8mb4_unicode_ci,
  `summary` text COLLATE utf8mb4_unicode_ci,
  `sort_order` int NOT NULL DEFAULT '0',
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_writing_section_no` (`chapter_id`,`section_no`),
  KEY `idx_writing_section_project` (`project_id`),
  KEY `idx_writing_section_chapter_sort` (`chapter_id`,`sort_order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `writing_table`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE IF NOT EXISTS `writing_table` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chapter_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `table_no` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `table_type` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'INDICATOR_STAT',
  `source_type` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'SIMULATED',
  `source_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_simulated` tinyint(1) NOT NULL DEFAULT '1',
  `header_json` text COLLATE utf8mb4_unicode_ci,
  `rows_json` longtext COLLATE utf8mb4_unicode_ci,
  `use_three_line_style` tinyint(1) NOT NULL DEFAULT '1',
  `note` text COLLATE utf8mb4_unicode_ci,
  `insert_after_section` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_writing_table_no` (`project_id`,`table_no`),
  KEY `idx_writing_table_chapter_sort` (`chapter_id`,`sort_order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping events for database 'drop_ai'
--

--
-- Dumping routines for database 'drop_ai'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-12 18:39:53

-- ------------------------------------------------------
-- Data kept intentionally minimal.
-- Includes only point pricing config and account 18753817379 point snapshot.
-- Generated documents, writing projects, sessions, orders, and task data are intentionally not exported.
-- This file intentionally does not include executable DROP TABLE statements.
-- ------------------------------------------------------
USE `drop_ai`;

INSERT INTO `feature_pricing` (`id`, `feature_code`, `feature_name`, `cost_points`, `enabled`) VALUES
(1,'DESIGN_GENERATE','毕业设计成果包生成',100,1),
(2,'CAD_GENERATE','CAD图纸生成',50,1),
(3,'MODEL_GENERATE','三维模型生成',50,1),
(4,'DOCX_GENERATE','文档生成',30,1),
(5,'ZIP_EXPORT','成果包导出',20,1),
(6,'DOCUMENT_REWRITE','智能降重（每千字）',10,1),
(7,'DOCUMENT_HUMANIZE','智能降AI（每千字）',10,1),
(8,'DOCUMENT_DOUBLE','双降增强（每千字）',20,1),
(9,'WRITING_DOCX','纯文字稿生成',60,1)
ON DUPLICATE KEY UPDATE
  `feature_name` = VALUES(`feature_name`),
  `cost_points` = VALUES(`cost_points`),
  `enabled` = VALUES(`enabled`);

INSERT INTO `user_account` (`phone`, `password_hash`, `role`, `points`, `total_points`, `used_points`, `created_at`, `updated_at`, `last_notice_time`, `notice_read_id`) VALUES
('18753817379', 'CHANGE_ME_PASSWORD_HASH', 'ADMIN', 999997739, 999999999, 3280, '2026-06-11 11:44:45', '2026-07-03 10:48:42', NULL, NULL)
ON DUPLICATE KEY UPDATE
  `role` = VALUES(`role`),
  `points` = VALUES(`points`),
  `total_points` = VALUES(`total_points`),
  `used_points` = VALUES(`used_points`),
  `updated_at` = VALUES(`updated_at`);
